
/* Add for body tag */
body {
  background-color: rgb(2, 0, 8);
}

/* Style with font size and color */
/* Horozontal alignment : text-align */
/* Text bolder : border */
/* Space between text and border : padding */
/* Space outside the text : margin */
h1 {
  color: white;
  font-family: monospace;
  font-size: 150%;
  text-align: center;
  border: 2px solid powderblue;
  padding: 0px;
  margin: 10px;
}

h2 {
  color: white;
  font-family: monospace;
  text-align: center;
}

h3 {
  color: white;
  font-family: monospace;
  text-align: center;
}

h4 {
  color: white;
  font-family: monospace;
  text-align: center;
}

h5 {
  color: white;
  font-family: monospace;
  text-align: center;
}

h6 {
  color: white;
  font-family: monospace;
  text-align: center;
}

p {
  color: white;
  font-family: monospace;
  font-size: 15px;
  text-align: center;
}

a {
  color: white;
  font-family: verdana;
  font-size: 20px;
}